@media (max-width: 100px) {
    #imagedavid {
        width: 80%;
    }
}

body{
    font-family: 'Times New Roman', Times, serif;
}
*{
    box-sizing: border-box;
}
h1{
    color: #004080;
    font-style: bold;
    text-align: center;
    font-size: 300%;
}
h2{
    text-align: center;
    color: #004080;
    font-size: 30px;
    border-top: 1px solid #004080;
    border-bottom: 1px solid #004080;
    padding: 10px 0;
}
p{
    text-align: justify;
}
h3{
    text-align: center;
    color: #004080;
    font-size: 20px;
    border-top: 1px solid #004080;
    border-bottom: 1px solid #004080;
    padding: 10px 0;
    margin: 15px;
}
#imagedavid {
    width: 250px;
    margin: 0 auto; 
    border-radius: 130px;
    background-color: #004080;
    border: 10px solid #004080;
    margin-left: 25px;
    position: relative;
    top: 10px;
    left: 10px;
}
#CERTIFICATIONS a:link ,
#CERTIFICATIONS a:visited {
    text-decoration: none;
    background-color: #ffffff;
    color: black;
    display: block;
    margin-bottom: 1px;
}

#CERTIFICATIONS a:hover, 
#CERTIFICATIONS a:active{
    background-color: brown;
    color: white;
    width: 600px;
}

.logo_entreprise{
    width: 100px;
    position: relative;
    right: -80%;
    margin-top: 10px;
}
.titre_poste{
    text-decoration: underline;
    font-weight: 700;
}
